body {
margin: 0;
padding: 0;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px;
}

h3 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.main {
    background-image: url("/Users/michaelfearnley/Desktop/code/basic-portfolio/assets/images/venice-background.jpg");
    background-size: cover;
    overflow: auto;
}

.content {
    height: 960px;
    width: 70%;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin: 100px auto 0;
}

.h-line {
    width: 90%;
    background-color: #4aaaa5;
    height: 5px;
    margin: auto;
}

.prof-pic {
    height: 300px;
    width: 475px;
    padding: 10px;
}

.nav-bar {
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: right;   
}

.inner-nav {
width: 70%;
margin: 0;
padding: 0;
}

.nav-bar ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
}
.nav-bar li {
    display: inline;
    margin: 10;
    padding: 20px;
}

.nav-bar a {
    color: #4aaaa5;
}

.footer {
    background-color: #666666;
    text-align: center;
    color: white;
    height: 30px;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

.footer h4 {
    padding: 0;
    margin: 0;
}

.portfolio-wrapper {
    position: relative;
}
.portfolio-wrapper span {
    position: absolute;
}
.contact-form {
    margin: 20px auto;
    padding: 30px;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
border-radius: 5px;
width: 90%;
}

textarea {
    border-radius: 5px;
    width: 90%;
    height: 200px;
}